body { background-color: thistle;}

#adarea {
    width: 300px;
    height: 250px;
    position: absolute;
}

#config{
    position: absolute;
    height: 100%;
    width: 24%;
    top: 0%;
    right: 0;
    background-color: whitesmoke;
    min-width: 210px;
    overflow-y: scroll;
}

#tabarea {
    padding: 5%; padding-left: 0; line-height: 3.2em;
}

.tab {padding: 3%; cursor: pointer;}

.activetab {background-color: white;}

input {margin-bottom: 3%;}

.name {line-height: 1.8em;}

.contentarea {left: 5%; position: absolute;}

.heading {margin-bottom: 1%; font-size: 1.1em;}

.hide {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.delayInput {width: 45px;}
.animationInput {width: 105px; margin-bottom: 3%;}

#ctaContent, #timeContent {display: none;}

#timeContent {font-size: .9em;}

.timeParagraph {margin-bottom: -1.5%;}

.alert {visibility: hidden; color: red;}

.width, .height, .font, .x, .y {width: 60px}

.headline {width: 294px;}

.frameContent {margin-bottom: 10%;}

#frameNumber {width: 42px;}

#footer {display: flex; position: absolute; background-color: whitesmoke; bottom: 0px; width: 74%; padding: 1%;}

#link, #ctalink {margin-left: 1%;}

#namearea, .linkarea, #dimeansion { flex-grow: .5; }

#frameCountArea {flex-grow: .5; }

.footerContent {margin-top: 1%;}

#imageContent {
    width: 90%;
    height: 100%;
    display: none;
}

.imagearea {
    position: relative;
    width: 90%;
    height: 9%;
    border: 1px solid skyblue;
    border-radius: 10px;
    padding-left: 3%;
    cursor: pointer;
    line-height: 1.3em;
    margin-bottom: 3%;
    margin-top: 2%;
    
}

.imageinfo {width: 50%}

.fileinput {display: none;}

.uploadeimage {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    max-width: 50%;
}

.uploadeimage::before {
    display: block;
    width: 100px;
}

.imageDescription {
    color: darkmagenta;
    font-size: .8em;
}



